*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.top-header{
    position: fixed;
    top:15px;
    font-size: 15px;
    right: 20px;
}

.header-text{
    display: flex;
    align-items: center;
}

.top-header a{
    text-decoration: none;
    color: black;
    padding-left: 20px;
}

.user{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.dots{
    width: 30px;
    height: 15px;
    background-color: transparent;
}


.footer{
    width: 100%;
    display: flex;
    height: 50px;
    background-color:lightgray;
    position: fixed;
    bottom: 0px;
    opacity: 0.5;
    align-items: center;
    justify-content: space-between;
}


.l-list, .r-list{
    display: flex;
}

.r-list ul, .l-list ul{
    display: flex;
}


.r-list{
    right: 0px;
    padding-right:20px;
}

.l-list{
    left: 0px;
    padding-left: 20px;
}

.l-list a{
    padding-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.r-list a{
    padding-right: 20px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

footer a:hover{
    text-decoration: underline;
}

.country{
    position: fixed;
    bottom: 50px;
    background-color: lightgray;
    width: 100%;
    height: 49px;
    opacity: 0.5;
    display: flex;
    align-items: center;
    padding-left: 40px;
    border-bottom: gray 1px solid;
    font-size: 16px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20vh;
}

.google-logo{
    display: flex;
    justify-content: center;
    cursor:default;
}

.google{
    list-style: none;
    display: flex;
    font-size: 100px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.languages-list ul, .languages-list p{ 
    display: inline-block;
    margin-top: 20px;
    padding: 2px;
    font-size: 15px;
}

.languages a{
    padding:3px;
    text-decoration: none;
}

.languages a:hover{
    text-decoration:underline;
}

.google li:first-child, li:nth-child(4){
    color: #4285f4;
}

.google li:last-child, li:nth-child(2){
    color: #ea4335;
}

.google li:nth-child(3){
    color:#fbbc05;
}

.google li:nth-child(5){
    color:#34a853;
}

.search-bar{
    width: 500px;
    height: 45px;
    border-radius: 20px;
    border-width: 0.5px;
    opacity: 0.5;
    padding-left: 40px;
    outline: none;
}

.search-bar:hover{
    box-shadow: 2px 2px lightgrey;
    border-width: 0.5px;
}

.search-bar:focus{
    box-shadow: 2px 2px lightgrey;
    border-width: 0.5px;

}

button{
    margin-top: 30px;
    background-color: white;
    height: 35px;
    width: 150px;
    border-width: 0px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 15px;
}

button:hover, button:active{
    border-color:lightgrey;
    border-width: 1px;

}


.search{
    margin-top: 40px;
    position: relative;
    display: flex;
}

.search-icon{
    width: 15px;
    position: absolute;
    top:15px;
    left: 15px;
}